In [6]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import seaborn as sns
import os
import pprint as pp 
import json
import requests

In [11]:
# Load the data
#hbo_data_csv = Path("../csv_folder/HBO_data.csv")
hbo_data_csv = Path("csv_folder/HBO_data.csv")

# Load the data into a DataFrame
hbo_data = pd.read_csv(hbo_data_csv)
hbo_data.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,519964.0,"DK, FI, NO, SE"
1,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,213029.0,"HK, ID, MY, PH, SG, TH, TW"
2,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,447253.0,"AG, AR, BB, BE, BO, BR, BS, BZ, CL, CO, CR, DO..."
3,Eternal Sunshine of the Spotless Mind,movie,"Drama, Romance, Sci-Fi",2004.0,tt0338013,8.3,1116278.0,"AG, AR, BB, BO, BS, BZ, CL, CO, CR, DO, EC, GT..."
4,A History of Violence,movie,"Action, Crime, Drama",2005.0,tt0399146,7.4,260655.0,"AG, AR, BB, BO, BR, BS, BZ, CL, CO, CR, DO, EC..."